PRISM_ppt_30yr_normal_800mM2_annual_bil.xml
PRISM_ppt_30yr_normal_800mM2_annual_bil.stx
PRISM_ppt_30yr_normal_800mM2_annual_bil.stn.csv
PRISM_ppt_30yr_normal_800mM2_annual_bil.prj
PRISM_ppt_30yr_normal_800mM2_annual_bil.info.txt
PRISM_ppt_30yr_normal_800mM2_annual_bil.hdr
PRISM_ppt_30yr_normal_800mM2_annual_bil.bil.aux.xml
PRISM_ppt_30yr_normal_800mM2_annual_bil.bil
