PRISM_tmean_30yr_normal_800mM2_annual_bil.xml
PRISM_tmean_30yr_normal_800mM2_annual_bil.stx
PRISM_tmean_30yr_normal_800mM2_annual_bil.prj
PRISM_tmean_30yr_normal_800mM2_annual_bil.info.txt
PRISM_tmean_30yr_normal_800mM2_annual_bil.hdr
PRISM_tmean_30yr_normal_800mM2_annual_bil.bil.aux.xml
PRISM_tmean_30yr_normal_800mM2_annual_bil.bil
